# MongoDB 연결 URI 예시
MONGODB_URI="mongodb://<username>:<password>@<host1>:<port1>,<host2>:<port2>,<host3>:<port3>/?authSource=admin&replicaSet=<replicaSetName>"

# JWT 설정 예시
JWT_SECRET_KEY="your_jwt_secret_key"
JWT_ACCESS_SECRET_KEY="your_access_token_secret_key"
JWT_REFRESH_SECRET_KEY="your_refresh_token_secret_key"
JWT_ACCESS_TOKEN_TIME="2h"
JWT_REFRESH_TOKEN_TIME="14d"

# pbkdf2 설정 예시
INTERATIONS="100"
DKLEN="64"
HASH="sha256"